body{
    background-image: url("hatter.jpg");
}

.div_1{
    margin-left: 150px;
    margin-right: 150px;
    background-image: url("fejlec.jpg");
    height: 100px;
    text-align: center;

}
h1{
    padding-top: 30px;
}
.div_2{
    background-color: #E8E8E8;
    margin-left: 150px;
    height: 500px;
    width: 200px;
    padding-top: 15px;
    
    
}
img{
    padding-top: 188px;
}
h2{
    color:#800000
}
.elerhetoseg{
    color: #800000;
    text-align: center
    

}
.div_3{
    background-image: url('tartalomkep.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 590px;
    height: 500px;
    padding-top: 15px;

}